{% extends "layout/base.html" %}

{% block title %}Liste des contacts{% endblock %}

{% block content %}
    {% include 'layout/navbar.html' %}

    <h1>Liste des contacts</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Rechercher...">
    </div>

    <table class="table table-striped" id="contactTable">
        <thead>
            <tr>
                <th data-column="3">ID Contact <span class="arrow"></span></th>
                <th data-column="0">Nom <span class="arrow"></span></th>
                <th data-column="1">Prénom <span class="arrow"></span></th>
                <th data-column="2">Email <span class="arrow"></span></th>
                <th data-column="4">Téléphone <span class="arrow"></span></th>
                <th data-column="5">Date de naissance <span class="arrow"></span></th>
                <th data-column="6">Photo de profil <span class="arrow"></span></th>
                <th data-column="7">Created Date <span class="arrow"></span></th>
                <th data-column="8">Updated Date <span class="arrow"></span></th>
                <th>Action</th> <!-- New column for Edit button -->
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr class="contact-row">
                    <td>{{ contact[0] }}</td> <!-- ID Contact -->
                    <td>{{ contact[1] }}</td> <!-- Nom -->
                    <td>{{ contact[2] }}</td> <!-- Prénom -->
                    <td>{{ contact[3] }}</td> <!-- Email -->
                    <td>{{ contact[4] }}</td> <!-- Téléphone -->
                    <td>{{ contact[5] }}</td> <!-- Date de naissance -->
                    <td>{{ contact[6] }}</td> <!-- Photo de profil -->
                    <td>{{ contact[7] }}</td> <!-- Created Date -->
                    <td>{{ contact[8] }}</td> <!-- Updated Date -->
                    <td>
                        <a href="{{ url_for('edit_contact', contactId=contact[0]) }}" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <a href="{{ url_for('delete_contact', contactId=contact[0]) }}" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block scripts %}
        {{ super() }}
        <script>
            $(document).ready(function () {
                $("#contactTable th").click(function () {
                    var column = $(this).data("column");
                    var direction = $(this).hasClass("asc") ? "desc" : "asc";

                    // Retirez toutes les classes "asc" et "desc" des autres colonnes
                    $("#contactTable th").removeClass("asc desc");
                    // Ajoutez la classe asc ou desc à la colonne actuelle
                    $(this).addClass(direction);

                    // Triez les lignes de la table en fonction de la colonne et de la direction
                    var tbody = $("#contactTable tbody");
                    var rows = tbody.find("tr").toArray().sort(comparer($(this).index(), direction));
                    tbody.empty().append(rows);
                });

                function comparer(index, ordre) {
                    return function (a, b) {
                        var valA = getCellValue(a, index);
                        var valB = getCellValue(b, index);

                        if (ordre === "asc") {
                            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
                        } else {
                            return $.isNumeric(valA) && $.isNumeric(valB) ? valB - valA : valB.localeCompare(valA);
                        }
                    };
                }

                function getCellValue(row, index) {
                    return $(row).children("td").eq(index).text();
                }

                // Script pour la barre de recherche
                $("#searchInput").on("input", function () {
                    var searchText = $(this).val().toLowerCase();

                    $(".contact-row").each(function () {
                        var rowText = $(this).text().toLowerCase();
                        $(this).toggle(rowText.includes(searchText));
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}
