<!-- Page de création d'un groupe  -->
{% extends "layout/base.html" %}

{% block title %}Création d'un groupe{% endblock %}

{% block content %}
    {% include 'layout/navbar.html' %}

     <!-- Message flash (annonce d'une action ) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages.0.0 }}" role="alert"> <!-- message.0.0 -> catégorie -->
                {% for category, message in messages %}
                    {{ message }} </br> <!-- message -> contenue massage -->
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1 class="mt-5"">Créer un groupe</h1>

    <!-- Formulaire d'un groupe -->
    <div class="container mt-5 mb-5">
    <form action="" method="POST">
        <div class="form-group">
            <label for="nom">Nom du groupe:</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom" required>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
</div>
{% endblock %}