{% extends "layout/base.html" %}

{% block title %}Liste des groupes{% endblock %}

{% block content %}
    {% include 'layout/navbar.html' %}
    <!-- Message flash (annonce d'une action ) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages.0.0 }}" role="alert"> <!-- message.0.0 -> catégorie -->
                {% for category, message in messages %}
                    {{ message }} </br> <!-- message -> contenue massage -->
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1 class="m-5">Liste des groupes</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Rechercher...">
    </div>

    <table class="table table-striped" id="groupeTable">
        <thead>
            <tr>
                <th data-column="1">Nom du groupe <span class="arrow"></span></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupes %}
                <tr class="groupe-row">
                    <td>{{ groupe[1] }}</td> <!-- Nom du groupe -->
                    <!-- Actions -->
                    <td>
                        <a href="{{ url_for('edit_groupe', groupeId=groupe[0]) }}" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <a href="{{ url_for('delete_groupe', groupeId=groupe[0]) }}" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block scripts %}
        {{ super() }}
        <script>
            $(document).ready(function () {
                $("#groupeTable th").click(function () {
                    var column = $(this).data("column");
                    var direction = $(this).hasClass("asc") ? "desc" : "asc";

                    // Retirez toutes les classes "asc" et "desc" des autres colonnes
                    $("#groupeTable th").removeClass("asc desc");
                    // Ajoutez la classe asc ou desc à la colonne actuelle
                    $(this).addClass(direction);

                    // Triez les lignes de la table en fonction de la colonne et de la direction
                    var tbody = $("#groupeTable tbody");
                    var rows = tbody.find("tr").toArray().sort(comparer($(this).index(), direction));
                    tbody.empty().append(rows);
                });

                function comparer(index, ordre) {
                    return function (a, b) {
                        var valA = getCellValue(a, index);
                        var valB = getCellValue(b, index);

                        if (ordre === "asc") {
                            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
                        } else {
                            return $.isNumeric(valA) && $.isNumeric(valB) ? valB - valA : valB.localeCompare(valA);
                        }
                    };
                }

                function getCellValue(row, index) {
                    return $(row).children("td").eq(index).text();
                }

                // Script pour la barre de recherche
                $("#searchInput").on("input", function () {
                    var searchText = $(this).val().toLowerCase();

                    $(".groupe-row").each(function () {
                        var rowText = $(this).text().toLowerCase();
                        $(this).toggle(rowText.includes(searchText));
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}
