{% extends "layout/base.html" %}

{% block title %}Hackathon 2023 - Joël Fernandes et Mathis Bodelot{% endblock %}

{% block content %}
    {% include 'layout/navbar.html' %}

    <!-- Message flash (annonce d'une action ) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-{{ messages.0.0 }}" role="alert"> <!-- message.0.0 -> catégorie -->
                        {% for category, message in messages %}
                            {{ message }} </br> <!-- message -> contenue massage -->
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Hackathon 2023</h1>
            <p class="lead">Joel Fernandes - Mathis Bodelot</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="container mt-5 text-center">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Se déconnecter</a>
    </div>
{% endblock %}
