<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des contacts et groupes</title>
</head>
<body>
    <h1>Liste des contacts</h1>
    <table border="1">
        <tr>
            <th>ID Contact</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Date de naissance</th>
            <th>Photo de profil</th>
            <th>Created Date</th>
            <th>Updated Date</th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact[3] }}</td>
                <td>{{ contact[0] }}</td>
                <td>{{ contact[1] }}</td>
                <td>{{ contact[2] }}</td>
                <td>{{ contact[4] }}</td>
                <td>{{ contact[5] }}</td>
                <td>{{ contact[6] }}</td>
                <td>{{ contact[7] }}</td>
                <td>{{ contact[8] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Liste des groupes</h1>
    <table border="1">
        <tr>
            <th>ID Groupe</th>
            <th>Nom du groupe</th>
            <th>Photo du groupe</th>
            <th>Created Date</th>
        </tr>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe[0] }}</td>
                <td>{{ groupe[1] }}</td>
                <td>{{ groupe[2] }}</td>
                <td>{{ groupe[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
