{% extends "layout/base.html" %}

{% block title %}Page profile{% endblock %}

{% block content %}
    <h1>Hello {{ name }}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form  action="" method="POST">
        <div class="mt-3">
            <label for="username">Nom d'utilisateur</label>
            <input id="username" value="{{ username }}" class="form-control" type="text" name="username" placeholder="Entrez votre nom d'utilisateur" />
        </div>
        <div class="mt-3">
            <label for="password">Mot de passe</label>
            <input id="password" class="form-control" type="password" name="password" placeholder="Entrez votre mot de passe" />
        </div>
        <div class="mt-3">
            <label for="password_cf">Confirmez</label>
            <input id="password_cf" class="form-control" type="password" name="password_cf" placeholder="Confirmez votre mot de passe" />
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-success" type="submit" href="{{ url_for('profile') }}">Mettre à jour</button>
        </div>
    </form>
    <a class="btn btn-danger" href="{{ url_for('logout') }}">Deconnexion</a>
{% endblock %}